src/node-red/NodeRedCamera.json
[{"id":"34281662102cb5c8","type":"tab","label":"Python","disabled":false,"info":"","env":[]},{"id":"e830902f4d3b64d6","type":"tab","label":"Zigbee","disabled":false,"info":"","env":[]},{"id":"c5f5760889efb534","type":"tab","label":"Dashboard","disabled":false,"info":"","env":[]},{"id":"31d4b239212477f8","type":"group","z":"34281662102cb5c8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["970f65b786e9db2a","2deacd47bbf49c7d","36544041ca7e088a","f34fce110c380ad7","c42da4fb9e188c0e","e78a159de7ef6b7d","842d39842742e746"],"x":474,"y":139,"w":462,"h":202},{"id":"fec742dce62fa2ae","type":"group","z":"e830902f4d3b64d6","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["073ca7d2ef0a4afa","6ba1b9b88f09a015","f473c6ff65fea12c","b96549342bb55f39","d4ce903c99c17661","f66ae14fbdc0b0cd","3f62fcbd38dee385","f839eeb1bd4e330d","9d98a4f13f0306b9","55ed35cc2dd5cf8c","b9b6b199d7884aed","ab0d91bcfe55e305","5b52dd5af12ad8d7","06cc50b0c08d1639","9e0e9e5cec45c495","db39fc0f341ed917","7b74ad981800cb2c"],"x":304,"y":179,"w":1082,"h":422},{"id":"adf09ee18b9bbecd","type":"group","z":"c5f5760889efb534","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c5521fba3b265d17","20696b087845ca6d","f3036363b7531aa2","c543de0de48be6bf","ad530945fc6d92ca","e3dc28a932de9119","21b222455b9bb761","ba2c7433987290d5","7e2465433450cad7","423d736fa0e65409","4c1808ff063346ef","cefcb0683cd6bfad","d6737a31d01efee0","90cfd9a865c5b6d8","288c07e99799ed17","7aa23a9a2e6103bf","57ca0763014a4da4","aacfb0f8427a60aa","5a2ceeb2b42699da","b943c7792fd2fa09","8c02478e732301c0"],"x":388,"y":39,"w":818,"h":422},{"id":"cefcb0683cd6bfad","type":"group","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3b11c658ade27748","6130dd9d9fd4b0db"],"x":414,"y":139,"w":272,"h":122},{"id":"5f17d2b13ec346b4","type":"ui_group","name":"Camera","tab":"188fa8dec02ee47e","order":2,"disp":false,"width":"6","collapse":false,"className":"fullsize"},{"id":"0f21ae4a25d31ad9","type":"ui_group","name":"On/Off","tab":"7ec7a974733d3118","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"600ec557567f876d","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"node_red_client","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"536d928d0435de29","type":"ui_group","name":"Status","tab":"188fa8dec02ee47e","order":1,"disp":true,"width":"6","collapse":false,"className":"status-box"},{"id":"7c3b27e67c54ed89","type":"ui_group","name":"Camera","tab":"7b29b4a8d5f4e3e9","order":1,"disp":true,"width":"12","collapse":false,"className":"fullsize"},{"id":"188fa8dec02ee47e","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"7ec7a974733d3118","type":"ui_tab","name":"LED","icon":"dashboard","disabled":false,"hidden":false},{"id":"7b29b4a8d5f4e3e9","type":"ui_tab","name":"Settings","icon":"mi-settings","disabled":false,"hidden":false},{"id":"09e13d4eb1997158","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0dbe13712fdc5437","type":"ui_group","name":"Node-RED","tab":"7b29b4a8d5f4e3e9","order":2,"disp":true,"width":"12","collapse":false,"className":"fullsize"},{"id":"970f65b786e9db2a","type":"pythonshell in","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"OpenCV","pyfile":"${PY_PATH}","virtualenv":"${VENV_PATH}","continuous":true,"stdInData":false,"x":580,"y":240,"wires":[["2deacd47bbf49c7d"]]},{"id":"2deacd47bbf49c7d","type":"function","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"JSONParse","func":"let { image, fingers } = JSON.parse(msg.payload);\n\nlet msg1 = {\n    payload: image\n};\nlet msg2 = {\n    payload: fingers\n};\n\nreturn [msg1, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":240,"wires":[["36544041ca7e088a"],["f34fce110c380ad7"]],"outputLabels":["image","fingers"]},{"id":"36544041ca7e088a","type":"link out","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"ImageOut","mode":"link","links":["7aa23a9a2e6103bf"],"x":895,"y":220,"wires":[]},{"id":"f34fce110c380ad7","type":"link out","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"FingersOut","mode":"link","links":["b96549342bb55f39"],"x":895,"y":260,"wires":[]},{"id":"c42da4fb9e188c0e","type":"comment","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"Python Sever","info":"","x":570,"y":180,"wires":[]},{"id":"e78a159de7ef6b7d","type":"status","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"PythonServerStatus","scope":["970f65b786e9db2a"],"x":590,"y":300,"wires":[["842d39842742e746"]]},{"id":"842d39842742e746","type":"link out","z":"34281662102cb5c8","g":"31d4b239212477f8","name":"PythonStatusOut","mode":"link","links":["57ca0763014a4da4"],"x":735,"y":300,"wires":[]},{"id":"073ca7d2ef0a4afa","type":"mqtt out","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"MQTT OUT","topic":"zigbee2mqtt/0xa4c1383e6fd8fd42/set","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"600ec557567f876d","x":1290,"y":440,"wires":[]},{"id":"6ba1b9b88f09a015","type":"function","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"FingersControl","func":"/* \nStates Defined :\n-1 : No Hand Found\n0 : Ready For Command\n1\n2\n3\n4\n5\n*/\nconst timeToWait = global.get(\"timeToWait\") ?? 1000; // Milliseconds\n\n// Initialization\nlet [lastState, lastTime, lastPayload] = context.get([\"lastState\", \"lastTime\", \"lastPayload\"]);\nlet currentState;\nswitch(msg.payload.join(' ')) {\n    case \"\":\n        currentState = -1;\n        break;\n    case \"0 0 0 0 0\":\n        currentState = 0;\n        break;\n    case \"0 1 0 0 0\":\n        currentState = 1;\n        break;\n    case \"0 1 1 0 0\":\n        currentState = 2;\n        break;\n    case \"0 1 1 1 0\":\n        currentState = 3;\n        break;\n    case \"0 1 1 1 1\":\n        currentState = 4;\n        break;\n    case \"1 1 1 1 1\":\n        currentState = 5;\n        break;\n    case \"0 1 0 0 1\":\n        currentState = 6;\n        break;\n    default:\n        currentState = -2;\n}\n/*\n1 - Dashboard Message\n2 - Command Out\n*/\nvar msg1, msg2;\n\nfunction isReady() {\n    if (typeof lastTime == 'undefined') {\n        if (lastState != currentState) {\n            msg1 = {\n                payload: \"Put your fingers down\"\n            }\n        }\n        return false;\n    }\n    let elaspedTime = Date.now() - lastTime;\n    let timeOver = elaspedTime >= timeToWait;\n    if (!timeOver) {\n        if (!lastPayload.every((v, i) => v === msg.payload[i])) {\n            lastTime = Date.now();\n        }\n        msg1 = {\n            payload: `Sending Command ${currentState}...`,\n            progress: elaspedTime / timeToWait\n        }\n    }\n    return timeOver;\n}\n\n// State Check\nswitch(currentState)\n{\n    case -1:\n        msg1 = {\n            payload: \"No Hand Found\"\n        };\n        lastTime = undefined;\n        lastState = -1;\n        break;\n    case 0:\n        msg1 = {\n            payload: \"Ready for command\"\n        };\n        lastTime = Date.now();\n        lastState = 0;\n        break;\n    case 1:\n        if (!isReady()) break;\n        msg1 = {\n            payload: \"Command 1 Sent\"\n        };\n        msg2 = {\n            payload: 1\n        };\n        lastTime = undefined;\n        lastState = 1;\n        break;\n    case 2:\n        if (!isReady()) break;\n        msg1 = {\n            payload: \"Command 2 Sent\"\n        };\n        msg2 = {\n            payload: 2\n        };\n        lastTime = undefined;\n        lastState = 2;\n        break;\n    case 3:\n        if (!isReady()) break;\n        msg1 = {\n            payload: \"Command 3 Sent\"\n        };\n        msg2 = {\n            payload: 3\n        };\n        lastTime = undefined;\n        lastState = 3;\n        break;\n    case 4:\n        if (!isReady()) break;\n        msg1 = {\n            payload: \"Command 4 Sent\"\n        };\n        msg2 = {\n            payload: 4\n        };\n        lastTime = undefined;\n        lastState = 4;\n        break;\n    case 5:\n        if (!isReady()) break;\n        msg1 = {\n            payload: \"Command 5 Sent\"\n        };\n        msg2 = {\n            payload: 5\n        };\n        lastTime = undefined;\n        lastState = 5;\n        break;\n    case 6:\n        if (!isReady()) break;\n        msg1 = {\n            payload: \"Command 6 Sent\"\n        };\n        msg2 = {\n            payload: 6\n        };\n        lastTime = undefined;\n        lastState = 6;\n        break;\n    default:\n        msg1 = {\n            payload: \"Command not set.\"\n        };\n}\n\n// Set context\ncontext.set([\"lastState\", \"lastTime\", \"lastPayload\"], [lastState, lastTime, msg.payload]);\n\nreturn [msg1, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["d4ce903c99c17661"],["3f62fcbd38dee385"]],"outputLabels":["message","command"]},{"id":"f473c6ff65fea12c","type":"comment","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"Send commands to Zigbee via MQTT","info":"","x":490,"y":220,"wires":[]},{"id":"b96549342bb55f39","type":"link in","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"FingersIn","links":["f34fce110c380ad7"],"x":345,"y":280,"wires":[["6ba1b9b88f09a015"]]},{"id":"d4ce903c99c17661","type":"link out","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"CommandStatusOut","mode":"link","links":["288c07e99799ed17"],"x":595,"y":260,"wires":[]},{"id":"f66ae14fbdc0b0cd","type":"switch","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"CommandSwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":870,"y":500,"wires":[["7b74ad981800cb2c"],["9d98a4f13f0306b9"],["9ac9f898b56bb589"],["55ed35cc2dd5cf8c"]]},{"id":"3f62fcbd38dee385","type":"switch","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"ModeSwitch","property":"mode","propertyType":"flow","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":380,"wires":[["f839eeb1bd4e330d"],["9e0e9e5cec45c495"],["db39fc0f341ed917"],["f66ae14fbdc0b0cd"]]},{"id":"f839eeb1bd4e330d","type":"function","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"InMode2","func":"if (msg.payload == 6) {\n    flow.set(\"mode\", 1);\n    msg.mode = 1\n    return msg;\n}\n\nmsg.mode = 2\n\nif (msg.payload == 1) {\n    msg.payload = { brightness: 50, transition: 1, color_sync: false };\n} else if (msg.payload == 2) {\n    msg.payload = { brightness: 100, transition: 1, color_sync: false };\n} else if (msg.payload == 3) {\n    msg.payload = { brightness: 150, transition: 1, color_sync: false };\n} else if (msg.payload == 4) {\n    msg.payload = { brightness: 200, transition: 1, color_sync: false };\n} else if (msg.payload == 5) {\n    msg.payload = { brightness: 250, transition: 1, color_sync: false };\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":320,"wires":[["06cc50b0c08d1639","5b52dd5af12ad8d7"]]},{"id":"9d98a4f13f0306b9","type":"change","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"Mode2","rules":[{"t":"set","p":"mode","pt":"flow","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":480,"wires":[["b9b6b199d7884aed"]]},{"id":"9ac9f898b56bb589","type":"change","z":"e830902f4d3b64d6","name":"Mode3","rules":[{"t":"set","p":"mode","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":520,"wires":[["b9b6b199d7884aed"]]},{"id":"55ed35cc2dd5cf8c","type":"change","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"Mode4","rules":[{"t":"set","p":"mode","pt":"flow","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":560,"wires":[["b9b6b199d7884aed"]]},{"id":"b9b6b199d7884aed","type":"link out","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"ModeUpdate","mode":"link","links":["cd79534e8837dee6"],"x":1215,"y":520,"wires":[]},{"id":"ab0d91bcfe55e305","type":"link out","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"ModeUpdate2","mode":"link","links":["cd79534e8837dee6"],"x":1265,"y":400,"wires":[]},{"id":"5b52dd5af12ad8d7","type":"change","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"GetCurrentMode","rules":[{"t":"set","p":"payload","pt":"msg","to":"mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":400,"wires":[["ab0d91bcfe55e305"]]},{"id":"06cc50b0c08d1639","type":"mqtt out","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"MQTT OUT","topic":"zigbee2mqtt/0xa4c1383e6fd8fd42/set","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"600ec557567f876d","x":1120,"y":320,"wires":[]},{"id":"9e0e9e5cec45c495","type":"function","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"InMode3","func":"if (msg.payload == 6) {\n    flow.set(\"mode\", 1);\n    msg.mode = 1\n    return msg;\n}\n\nmsg.mode = 3\n\nif (msg.payload == 1) {\n    msg.payload = { color_temp: \"coolest\", transition: 1, color_sync: false };\n} else if (msg.payload == 2) {\n    msg.payload = { color_temp: \"cool\", transition: 1, color_sync: false };\n} else if (msg.payload == 3) {\n    msg.payload = { color_temp: \"neutral\", transition: 1, color_sync: false };\n} else if (msg.payload == 4) {\n    msg.payload = { color_temp: \"warm\", transition: 1, color_sync: false };\n} else if (msg.payload == 5) {\n    msg.payload = { color_temp: \"warmest\", transition: 1, color_sync: false };\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":360,"wires":[["5b52dd5af12ad8d7","06cc50b0c08d1639"]]},{"id":"db39fc0f341ed917","type":"function","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"InMode4","func":"if (msg.payload == 6) {\n    flow.set(\"mode\", 1);\n    msg.mode = 1\n    return msg;\n}\n\nmsg.mode = 4\n\nif (msg.payload == 1) {\n    msg.payload = { color: { \"rgb\": \"255,255,255\" }, transition: 1, color_sync: false };\n} else if (msg.payload == 2) {\n    msg.payload = { color: { \"hex\": \"#7f58ed\" }, transition: 1, color_sync: false };\n} else if (msg.payload == 3) {\n    msg.payload = { color: { \"hex\": \"#f571d5\" }, transition: 1, color_sync: false };\n} else if (msg.payload == 4) {\n    msg.payload = { color: { \"hex\": \"#ee6e00\" }, transition: 1, color_sync: false };\n} else if (msg.payload == 5) {\n    msg.payload = { color: { \"hex\": \"#61b4dd\" }, transition: 1, color_sync: false };\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":400,"wires":[["5b52dd5af12ad8d7","06cc50b0c08d1639"]]},{"id":"7b74ad981800cb2c","type":"change","z":"e830902f4d3b64d6","g":"fec742dce62fa2ae","name":"Toggle","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"state\":\"TOGGLE\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":440,"wires":[["073ca7d2ef0a4afa"]]},{"id":"c5521fba3b265d17","type":"ui_template","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","group":"5f17d2b13ec346b4","name":"StreamViewer","order":0,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1060,"y":420,"wires":[[]]},{"id":"20696b087845ca6d","type":"function","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"Base64ToImg","func":"// msg.payload = msg.payload.toString('base64');\n\nmsg.payload = `<img alt=\"stream\" src=\"data:image/jpg;base64,${msg.payload}\" />`\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":420,"wires":[["c5521fba3b265d17"]]},{"id":"f3036363b7531aa2","type":"image","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":660,"y":420,"wires":[["20696b087845ca6d"]]},{"id":"c543de0de48be6bf","type":"comment","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"Dashboard","info":"","x":480,"y":80,"wires":[]},{"id":"ad530945fc6d92ca","type":"ui_text","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","group":"536d928d0435de29","order":1,"width":0,"height":0,"name":"","label":"Python Status","format":"{{msg.status.text}}","layout":"col-center","className":"status-text fullheight","style":false,"font":"","fontSize":16,"color":"#000000","x":1060,"y":300,"wires":[]},{"id":"e3dc28a932de9119","type":"ui_template","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","group":"7c3b27e67c54ed89","name":"CameraSettingsPage","order":0,"width":0,"height":0,"format":"<iframe height=\"100%\" width=\"100%\" src=\"http://192.168.1.200:80\"></iframe>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":1080,"y":340,"wires":[[]]},{"id":"21b222455b9bb761","type":"ui_template","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","group":"536d928d0435de29","name":"Command Status","order":2,"width":0,"height":0,"format":"<label>{{msg.payload}}</label>\n<progress value={{msg.progress||0}} max=1></progress>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"status-text","x":1070,"y":380,"wires":[[]]},{"id":"ba2c7433987290d5","type":"function","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"SetTimeToWait","func":"global.set(\"timeToWait\", msg.payload);\n\nreturn;","outputs":0,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"timeToWait\", 3000);","finalize":"","libs":[],"x":1060,"y":140,"wires":[]},{"id":"7e2465433450cad7","type":"ui_numeric","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"DelaySetting","label":"Command Delay","tooltip":"","group":"0dbe13712fdc5437","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"command_delay","topicType":"str","format":"{{value/1000}} seconds","min":"1000","max":"3000","step":"1000","className":"","x":890,"y":140,"wires":[["ba2c7433987290d5"]]},{"id":"423d736fa0e65409","type":"ui_button","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"TogglePython","group":"0dbe13712fdc5437","order":2,"width":0,"height":0,"passthru":true,"label":"Toggle Python Script","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":873.3333333333335,"y":180,"wires":[["4c1808ff063346ef"]]},{"id":"4c1808ff063346ef","type":"http request","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"TriggerPythonScript","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:1880/pythonshell/970f65b786e9db2a","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1070,"y":180,"wires":[[]]},{"id":"3b11c658ade27748","type":"ui_template","z":"c5f5760889efb534","g":"cefcb0683cd6bfad","group":"0f21ae4a25d31ad9","name":"Style","order":1,"width":0,"height":0,"format":"<style>\n    #nr-dashboard > md-content > section > md-content {\n        overflow: clip;\n    }\n    .fullsize {\n        width: 100vw !important;              \n        margin: auto;\n        height: 50vh !important;\n    }\n    .fullsize > div {\n        width: 100% !important;\n        height: 100% !important;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n    .fullsize md-card {\n        width: 100% !important;\n        height: 100% !important;\n        overflow: hidden;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n    .status-box {\n        width: 75% !important;\n        max-height: 10rem;\n        overflow-y: clip;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        z-index: 10;\n        border: 1px solid #ccc!important;\n        border-radius: 16px;\n        flex-direction: row!important;\n        margin: 0 auto;        \n    }\n    #Camera_Status {\n        position: static!important;\n    }\n    #Camera_Status > div > p {\n        font-size: 32px;\n        width: auto!important;\n        max-height: none!important;\n    }\n    #Camera_Status_cards {\n        width: 100% !important;\n        height: 100% !important;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        flex-grow: 3;\n    }\n    *:has(> .status-text) {\n        width: 100% !important;\n        height: 100% !important;\n    }\n    .status-text {\n        text-align: center;\n        width: 100% !important;\n        font-size: 32px;\n        position: static!important;\n        display: flex;\n        flex-direction: column;\n        justify-content: space-between;\n    }    \n    progress {\n        width: 100%;\n    }\n\n    p.value {\n        width: 350px;\n        text-overflow: ellipsis;\n        max-height: 3rem;\n        overflow:hidden;\n        white-space:nowrap;\n        text-align: center;\n    }\n\n    #Settings_Node-RED > div {\n        max-width: 50%;\n    }\n    #Settings_Node-RED md-card {\n        height: auto!important;\n    }\n    .fullheight {\n        height: 100% !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":490,"y":220,"wires":[[]]},{"id":"6130dd9d9fd4b0db","type":"comment","z":"c5f5760889efb534","g":"cefcb0683cd6bfad","name":"Used to style dashboard","info":"","x":550,"y":180,"wires":[]},{"id":"d6737a31d01efee0","type":"function","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"FilterUndefinedStatus","func":"msg.status.text = msg.status.text ?? \"Unavailable\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":300,"wires":[["ad530945fc6d92ca","90cfd9a865c5b6d8"]]},{"id":"90cfd9a865c5b6d8","type":"ui_text","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","group":"0dbe13712fdc5437","order":1,"width":0,"height":0,"name":"Python Setting Status","label":"Python Status","format":"{{msg.status.text}}","layout":"col-center","className":"","style":true,"font":"","fontSize":"16","color":"#000000","x":1080,"y":260,"wires":[]},{"id":"288c07e99799ed17","type":"link in","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"CommandStatusIn","links":["d4ce903c99c17661"],"x":945,"y":380,"wires":[["21b222455b9bb761"]]},{"id":"7aa23a9a2e6103bf","type":"link in","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"ImageIn","links":["36544041ca7e088a"],"x":535,"y":420,"wires":[["f3036363b7531aa2"]]},{"id":"57ca0763014a4da4","type":"link in","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"PythonStatusIn","links":["842d39842742e746"],"x":725,"y":300,"wires":[["d6737a31d01efee0"]]},{"id":"aacfb0f8427a60aa","type":"ui_text","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","group":"536d928d0435de29","order":2,"width":0,"height":0,"name":"","label":"Current Mode","format":"Mode {{msg.payload || 1}}","layout":"col-center","className":"status-text fullheight","style":false,"font":"","fontSize":16,"color":"#000000","x":1060,"y":220,"wires":[]},{"id":"cd79534e8837dee6","type":"link in","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"ModeIn","links":["4d12d9ae40f0bb18","253dd6463897cf1c","b9b6b199d7884aed","ab0d91bcfe55e305"],"x":725,"y":220,"wires":[["5a2ceeb2b42699da"]]},{"id":"5a2ceeb2b42699da","type":"function","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"FilterUndefinedStatus","func":"if (!msg.payload) return;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":220,"wires":[["aacfb0f8427a60aa"]]},{"id":"b943c7792fd2fa09","type":"inject","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"InitDelay","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"timeToWait","payloadType":"global","x":725,"y":140,"wires":[["7e2465433450cad7"]],"l":false},{"id":"8c02478e732301c0","type":"inject","z":"c5f5760889efb534","g":"adf09ee18b9bbecd","name":"InitPython","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":725,"y":180,"wires":[["423d736fa0e65409"]],"l":false}]