Node-RED/CameraFlow.json
[
    {
        "id": "34281662102cb5c8",
        "type": "tab",
        "label": "Camera",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cefcb0683cd6bfad",
        "type": "group",
        "z": "34281662102cb5c8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3b11c658ade27748",
            "6130dd9d9fd4b0db"
        ],
        "x": 214,
        "y": 379,
        "w": 272,
        "h": 122
    },
    {
        "id": "adf09ee18b9bbecd",
        "type": "group",
        "z": "34281662102cb5c8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "67c165596d981f4b",
            "cd56a62aaffd4e86",
            "c5521fba3b265d17",
            "91ea753523a10bda",
            "20696b087845ca6d",
            "53b38a61ce1b35df",
            "9943fdd64132e625"
        ],
        "x": 214,
        "y": 79,
        "w": 1012,
        "h": 262
    },
    {
        "id": "fec742dce62fa2ae",
        "type": "group",
        "z": "34281662102cb5c8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e7cbdf4207395ecc",
            "74db20f67f4bb495",
            "d47fdb3133d3a8e1",
            "073ca7d2ef0a4afa",
            "5f4329af7f1c1137",
            "e487e277334e2cc1"
        ],
        "x": 534,
        "y": 379,
        "w": 592,
        "h": 142
    },
    {
        "id": "67c165596d981f4b",
        "type": "websocket in",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "name": "CAM WS",
        "server": "61c5a9a30895eb27",
        "client": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "cd56a62aaffd4e86"
            ]
        ]
    },
    {
        "id": "cd56a62aaffd4e86",
        "type": "image",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "53b38a61ce1b35df",
                "9943fdd64132e625"
            ]
        ]
    },
    {
        "id": "c5521fba3b265d17",
        "type": "ui_template",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "group": "536d928d0435de29",
        "name": "StreamViewer",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1120,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3b11c658ade27748",
        "type": "ui_template",
        "z": "34281662102cb5c8",
        "g": "cefcb0683cd6bfad",
        "group": "0f21ae4a25d31ad9",
        "name": "Styler",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .fullsize {\n        width: calc(100vw - 80px) !important;\n        height: calc(100vh - 80px) !important;\n        margin: auto;\n    }\n    .fullsize > div {\n        width: 100% !important;\n        height: 100% !important;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n    .fullsize md-card {\n        width: 100% !important;\n        height: 100% !important;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 290,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6130dd9d9fd4b0db",
        "type": "comment",
        "z": "34281662102cb5c8",
        "g": "cefcb0683cd6bfad",
        "name": "Used to style dashboard",
        "info": "",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "91ea753523a10bda",
        "type": "websocket out",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "name": "Python WS",
        "server": "8e2975894ef2a2c5",
        "client": "",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "20696b087845ca6d",
        "type": "function",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "name": "Base64ToImg",
        "func": "msg.payload = msg.payload.toString('base64');\n\nmsg.payload = `<img alt=\"stream\" src=\"data:image/jpg;base64,${msg.payload}\" />`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 300,
        "wires": [
            [
                "c5521fba3b265d17"
            ]
        ]
    },
    {
        "id": "53b38a61ce1b35df",
        "type": "debug",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "9943fdd64132e625",
        "type": "function",
        "z": "34281662102cb5c8",
        "g": "adf09ee18b9bbecd",
        "name": "DeleteSession",
        "func": "msg._session = null;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "91ea753523a10bda"
            ]
        ]
    },
    {
        "id": "e7cbdf4207395ecc",
        "type": "websocket in",
        "z": "34281662102cb5c8",
        "g": "fec742dce62fa2ae",
        "name": "Python WS",
        "server": "8e2975894ef2a2c5",
        "client": "",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "74db20f67f4bb495",
                "5f4329af7f1c1137",
                "20696b087845ca6d"
            ]
        ]
    },
    {
        "id": "74db20f67f4bb495",
        "type": "debug",
        "z": "34281662102cb5c8",
        "g": "fec742dce62fa2ae",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "d47fdb3133d3a8e1",
        "type": "function",
        "z": "34281662102cb5c8",
        "g": "fec742dce62fa2ae",
        "name": "ToggleState",
        "func": "let state = context.get('state');\nif (typeof state == 'undefined') {\n    state = false;\n}\n\nstate = !state;\n\ncontext.set('state', state);\n\nmsg.payload = {\n    state: state ? \"ON\" : \"OFF\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "073ca7d2ef0a4afa",
                "e487e277334e2cc1"
            ]
        ]
    },
    {
        "id": "073ca7d2ef0a4afa",
        "type": "mqtt out",
        "z": "34281662102cb5c8",
        "g": "fec742dce62fa2ae",
        "name": "MQTT OUT",
        "topic": "zigbee2mqtt/0xa4c138c1aabb0153/set",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "05987e42b063c686",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "5f4329af7f1c1137",
        "type": "delay",
        "z": "34281662102cb5c8",
        "g": "fec742dce62fa2ae",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "d47fdb3133d3a8e1"
            ]
        ]
    },
    {
        "id": "e487e277334e2cc1",
        "type": "debug",
        "z": "34281662102cb5c8",
        "g": "fec742dce62fa2ae",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "f15579ccb52e1fe7",
        "type": "mqtt in",
        "z": "34281662102cb5c8",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "05987e42b063c686",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "d76c66830c43f241"
            ]
        ]
    },
    {
        "id": "d76c66830c43f241",
        "type": "debug",
        "z": "34281662102cb5c8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "61c5a9a30895eb27",
        "type": "websocket-listener",
        "path": "/",
        "wholemsg": "false"
    },
    {
        "id": "536d928d0435de29",
        "type": "ui_group",
        "name": "Default",
        "tab": "188fa8dec02ee47e",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": "fullsize"
    },
    {
        "id": "0f21ae4a25d31ad9",
        "type": "ui_group",
        "name": "On/Off",
        "tab": "7ec7a974733d3118",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e2975894ef2a2c5",
        "type": "websocket-listener",
        "path": "/opencv",
        "wholemsg": "false"
    },
    {
        "id": "05987e42b063c686",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "node_red_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "188fa8dec02ee47e",
        "type": "ui_tab",
        "name": "Camera",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ec7a974733d3118",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]